<!doctype html>

<html lang="en">
  <head>
    <title>Turbine Power Calculator</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include the jQuery library-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Include Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!--Prevent browser searching for favicon-->
    <link rel="icon" href="data:,">
    
    <!-- CSS Code -->
    <style type="text/CSS">	
      .titlebar{
        float: left;
        width: 100%;
				height: 150px;
				padding: 60px 20px 20px 20px;
				margin: 0px 20px 0px 0px;
				color: black;
        
				text-align: center;}
      
      .instructions{
        float: left;
        width: 100%;
				height: 100px;
				padding: 20px;
				margin: 0px 20px 0px 0px;
				color: silver;
				text-align: center;}

			body{
        background-image:url('static/Images/turbines.JPG');
        background-size: cover;}

      .container-fluid{
        float: left;
        height: 70px;
        text-align: center;}

    </style>
  </head>

  <body> 
      <!--The below div is only used for viewing the html page locally. Not required for viewing Web Service with flask-->
      <!--<div style="background-image: url('../images/turbines.JPG')">-->
      <h1 class="titlebar">Turbine Power Calculator</h1>
    
      <h2 class="instructions">Enter the expected wind speed and click Predict Power</h2>

      <div class="container-fluid">
        <div class="row g-2 justify-content-center align-items-center">
          <div class="col-auto">
            <label for="inputSpeed" class="col-form-label"><h4>Wind speed</h4></label>
          </div>
          <div class="col-auto">
            <input type="text" id="input" style="height:60px; width:175px" class="form-control" placeholder="Wind Speed m/s" required="required">
          </div>
          <div class="col-auto">
            <span id="units" class="form-text-secondary">
              m/s
            </span>
          </div>
          <div class="col-auto">
            <label for="outputPower" class="col-form-label"><h4>Power</h4></label>
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" id="output" style="height:60px; width:175px" placeholder="Predicted power.." disabled readonly>
          </div>
          <div class="col-auto">
            <span id="units" class="form-text-secondary">
              MW
            </span>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <button type="button" class="btn btn-light btn-lg" id="predict-button">Predict Power</button>
      </div>
      <!--</div>-->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script>
        // Script for when Predict Power button is clicked
        $("#predict-button").click(function(e) {
          speed = document.getElementById("input").value
          // If user enters a negative value
          if (speed < 0){
            alert("Cannot have a negative wind speed. Please enter a correct value");
            $('#input').val("")
            $('#output').val("")
          }
          // If user enters a 0 value
          else if (speed == 0){
            $('#output').val("0")
          }
          // If user enters text
          else if(isNaN(speed)){
            alert("Must input numbers only");
            $('#input').val("")
            $('#output').val("")
          }
          else{
          $.getJSON("/api/predict/"+speed, function(data) {
            $('#output').val(data);
            });
          }
        });

    </script>
  </body>
</html>